{{ define "pipeline" }}

<div class="pipeline-container">
    <a target="_blank" class="pipeline-status pipeline-{{ .Status }}" title="pipeline status" href={{ .PipelineUrl }}></a>
    <a target="_blank" class="pipeline-message message-{{ .Status }}" href={{ .PipelineUrl }}>
        {{ .DefaultBranch }} pipeline: {{ .Status }}
    </a>
    <div class="spacer" style="flex-grow:2"></div>
    <div class="pipeline-last-updated" title="{{ .UpdatedAt }}" style="cursor: default;">{{ getFormattedTimeSince .UpdatedAt}}</div>
</div>

{{ end }}